block variables

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Корабли - Eve Online

        link(rel="stylesheet", href="css/main.css")
        block script_variables
    body
        div.block_menu
            include ../components/block_menu.pug
        div.block_tree
            include ../components/block_tree-ship.pug

        div.block_data
            block data
        div.block_script
            block script
            
//- - cd C:\Users\alexb\Desktop\VS code\Сайт\Версия 3
//- - gulp dev