extends templates/template_ship-Caldari

block variables
	// Корабль
	- var nameShip = 'Corax'
	- var typeShip = 'Эсминец'
	- var price = 1030000
	// Описание
	- var description = "Эсминец типа «Коракс» соответствует проверенным временем принципам калдарской философии: победа на стороне больших батальонов; сообщения, отправляемые врагу, должны быть прямы и недвусмысленны. Он зарекомендовал себя как в ходе мирных переговоров, так и в гуще сражения: у противника не должно оставаться никаких иллюзий относительно несгибаемого калдарского духа, и враг должен помнить, что за первым ударом последует множество других.. По этой причине пилот «Коракса» не разменивается на пушечную дробь или на лучики лазерного света. Сокрушительные, непрерывные и частые залпы его ракет способны подавить любое сопротивление."
	// Характеристики
	// Корпус
	- var hullStrength = 750
	- var cargo = 450
	- var droneCompartment = 0
	- var telecontrolChannel = 0
	// Броня
	- var armorStrength = 750
	// Щит
	- var shieldStrength = 1000
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 500
	- var energyRegen = 319
	// Целеуказания
	- var captureRange = 45
	- var amount = 7
	// Двигательная установка
	- var speed = 235
	- var warp_mode = 4.5
	// Служба оснащения
	- var CPU = 210
	- var reactor = 53
	- var pointsGun = 0
	- var pointsLauncher = 7
	- var connectHPower = 7
	- var connectMPower = 4
	- var connectLPower = 2