extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Megathron'
	- var typeShip = 'Линкор'
	- var price = 310000000
	// Описание
	- var description = "«Мегатрон» делом заслужил репутацию одного из самых устрашающих линкоров. К его мощи нельзя относиться с пренебрежением. Со времени ввода в строй два десятилетия назад линкоры этого класса достойно несли службу в пограничных секторах Галлентской Федерации, расширяя и укрепляя сферу влияния своего государства."
	// Характеристики
	// Корпус
	- var hullStrength = 8250
	- var cargo = 845
	- var droneCompartment = 75
	- var telecontrolChannel = 75
	// Броня
	- var armorStrength = 7.150
	// Щит
	- var shieldStrength = 6930
	- var shieldRegen = 2500
	// Накопитель энергии
	- var capacity = 6000
	- var energyRegen = 1150
	// Целеуказания
	- var captureRange = 87
	- var amount = 7
	- var speed = 122
	- var warp_mode = 3.0
	// Служба оснащения
	- var CPU = 600
	- var reactor = 15500
	- var pointsGun = 7
	- var pointsLauncher = 0
	- var connectHPower = 7
	- var connectMPower = 4
	- var connectLPower = 8