extends templates/template_ship-Amarr

block variables
	// Корабль
	- var nameShip = 'Dragoon'
	- var typeShip = 'Эсминец'
	- var price = 1150000
	// Описание
	- var description = "Проект эсминца типа «Драгун» соответствует догматам, абсолютно нормальным для амаррской культуры, но пугающим большую часть жителей галактики: судьба богоизбранного народа требует исполнять (в том числе мерами принуждения) вполне определённую роль. Амаррцы призваны не только насаждать волю Господа (часто с применением проверенных временем бездушных посредников-механизмов), но и извлекать выгоду из других народов... или даже кормиться на них. Следуя этой идее, «Драгун» натравливает на противника рой дронов, который быстро находит цель и наносит ей сокрушительный ущерб. Тем временем эсминец похищает энергию из накопителя врага, превращая его в иссушённый остов."
	// Характеристики
	// Корпус
	- var hullStrength = 850
	- var cargo = 300
	- var droneCompartment = 75
	- var telecontrolChannel = 25
	// Броня
	- var armorStrength = 950
	// Щит
	- var shieldStrength = 750
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 600
	- var energyRegen = 275
	// Целеуказания
	- var captureRange = 39
	- var amount = 6
	// Двигательная установка
	- var speed = 240
	- var warp_mode = 4.5
	// Служба оснащения
	- var CPU = 155
	- var reactor = 58
	- var pointsGun = 3
	- var pointsLauncher = 3
	- var connectHPower = 5
	- var connectMPower = 3
	- var connectLPower = 4