extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Catalyst'
	- var typeShip = 'Эсминец'
	- var price = 1130000
	// Описание
	- var description = "Корабли этого типа идеально подходят для участия в маломасштабных боях и огневой поддержки сил флота; в рекламных проспектах эсминцы типа «Каталист» называют «одним из лучших средств для борьбы с фрегатами». Лично ознакомившись с высококлассными системами наводки его орудий, спорить с этим сложно."
	// Характеристики
	// Корпус
	- var hullStrength = 900
	- var cargo = 450
	- var droneCompartment = 0
	- var telecontrolChannel = 0
	// Броня
	- var armorStrength = 800
	// Щит
	- var shieldStrength = 750
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 650
	- var energyRegen = 350
	// Целеуказания
	- var captureRange = 33
	- var amount = 7
	// Двигательная установка
	- var speed = 265
	- var warp_mode = 4.5
	// Служба оснащения
	- var CPU = 178
	- var reactor = 70
	- var pointsGun = 7
	- var pointsLauncher = 0
	- var connectHPower = 8
	- var connectMPower = 2
	- var connectLPower = 3