extends templates/template_ship-Minmatar

block variables
	// Корабль
	- var nameShip = 'Rifter'
	- var typeShip = 'Фрегат'
	- var price = 320000
	// Описание
	- var description = "«Рифтер» — очень мощный боевой фрегат, способный с лёгкостью противостоять наилучшим фрегатам врага. После боевого крещения в ходе Матарского Восстания он был многократно и радикально модернизирован. «Рифтер» обладает широким ассортиментом вооружения, благодаря чему является непредсказуемым и смертоносным противником."
	// Характеристики
	// Корпус
	- var hullStrength = 350
	- var cargo = 140
	- var droneCompartment = 0
	- var telecontrolChannel = 0
	// Броня
	- var armorStrength = 450
	// Щит
	- var shieldStrength = 450
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 250
	- var energyRegen = 125
	// Целеуказания
	- var captureRange = 22.5
	- var amount = 4
	// Двигательная установка
	- var speed = 365
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 130
	- var reactor = 41
	- var pointsGun = 3
	- var pointsLauncher = 2
	- var connectHPower = 3
	- var connectMPower = 3
	- var connectLPower = 4