extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Algos'
	- var typeShip = 'Эсминец'
	- var price = 1140000
	// Описание
	- var description = "Как и другие корабли Галлентской Федерации, входящий в бой «Алгос» не рассчитывает его затягивать и ведёт бой на значительном расстоянии. Фактически он воплощает выкристаллизовавшиеся за многие века галлентские ценности: способность к независимым действиям, для которых не нужно долго ждать коллегиального решения, причём по мере возможности таким образом, чтобы иметь значительный запас дистанции для возможного быстрого отступления, поскольку ожидания — одно, а практика — совершенно другое. Все это обусловливает особенности корабля: способность вести быстрый огонь по врагу и применение скоростных боевых дронов."
	// Характеристики
	// Корпус
	- var hullStrength = 950
	- var cargo = 350
	- var droneCompartment = 60
	- var telecontrolChannel = 35
	// Броня
	- var armorStrength = 850
	// Щит
	- var shieldStrength = 800
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 550
	- var energyRegen = 350
	// Целеуказания
	- var captureRange = 42
	- var amount = 7
	// Двигательная установка
	- var speed = 245
	- var warp_mode = 4.5
	// Служба оснащения
	- var CPU = 160
	- var reactor = 55
	- var pointsGun = 5
	- var pointsLauncher = 0
	- var connectHPower = 6
	- var connectMPower = 3
	- var connectLPower = 3