extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Atron'
	- var typeShip = 'Фрегат'
	- var price = 468000
	// Описание
	- var description = "«Этрон» — маленький, но крепкий корабль, оснащенный мощной силовой установкой; ради неё пришлось пожертвовать объемом трюма. «Этрон» пригоден для добычи сырья, но преимущественно используется как боевой корабль."
	// Характеристики
	// Корпус
	- var hullStrength = 400
	- var cargo = 145
	- var droneCompartment = 0
	- var telecontrolChannel = 0
	// Броня
	- var armorStrength = 350
	// Щит
	- var shieldStrength = 300
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 330
	- var energyRegen = 165.5
	// Целеуказания
	- var captureRange = 25
	- var amount = 4
	// Двигательная установка
	- var speed = 420
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 147
	- var reactor = 37
	- var pointsGun = 3
	- var pointsLauncher = 0
	- var connectHPower = 4
	- var connectMPower = 3
	- var connectLPower = 3