extends templates/template_ship-Amarr

block variables
	// Корабль
	- var nameShip = 'Apocalypse'
	- var typeShip = 'Линкор'
	- var price = 307000000
	// Описание
	- var description = "В прошлом лишь те, кто заслужил милость самого Императора, могли надеяться получить в награду право командовать великолепным и мощным линкором типа «Апокалипсис». Хотя в последнее время они и выпущены в свободное обращение в торговой системе, эти сверкающие золотой обшивкой монстры все еще внушают страх и уважение, являясь воплощёнными символами амаррской власти."
	// Характеристики
	// Корпус
	- var hullStrength = 7700
	- var cargo = 845
	- var droneCompartment = 75
	- var telecontrolChannel = 50
	// Броня
	- var armorStrength = 770
	// Щит
	- var shieldStrength = 6600
	- var shieldRegen = 2500
	// Накопитель энергии
	- var capacity = 7000
	- var energyRegen = 1000
	// Целеуказания
	- var captureRange = 87.6
	- var amount = 7
	// Двигательная установка
	- var speed = 113
	- var warp_mode = 3.0
	// Служба оснащения
	- var CPU = 540
	- var reactor = 21000
	- var pointsGun = 8
	- var pointsLauncher = 0
	- var connectHPower = 8
	- var connectMPower = 4
	- var connectLPower = 7