extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Talos'
	- var typeShip = 'Линейный крейсер'
	- var price = 67100000
	// Описание
	- var description = "История «Талоса» начинается в 110 году юлайской эры. Тогда он был ранним прототипом на конструкторских столах Окраинной Рудной Экспедиции. Изначально корабль задумывался как патрульное судно для участия в операциях по добыче руды в областях космоса с нулевой степенью соответствия нормам КОНКОРДа. Он был бы окончательно заброшен и забыт, если бы проект не подхватили Чёрные Орлы, отряд для спецопераций галлентского правительства Чёрные Орлы устранили из проекта «Талос» все второстепенные системы и оснастили его крупнокалиберным вооружением, создав быстрый ударный корабль, который идеально подходит для ведения партизанской войны. Проект «Талос» оставался военной тайной до 113 года по юлайскому летоисчислению, после чего он был поставлен на вооружение в качестве линейного крейсера третьего поколения. На сегодняшний день производство «талосов» ведёт корпорация«Лаборатории Дюволь». Они изменили первоначальный проект Окраинной Рудной Экспедиции, приведя его в соответствие с галлентскими стандартами."
	// Характеристики
	// Корпус
	- var hullStrength = 2180
	- var cargo = 600
	- var droneCompartment = 25
	- var telecontrolChannel = 25
	// Броня
	- var armorStrength = 1890
	// Щит
	- var shieldStrength = 1750
	- var shieldRegen = 1400
	// Накопитель энергии
	- var capacity = 3100
	- var energyRegen = 774
	// Целеуказания
	- var captureRange = 70
	- var amount = 7
	// Двигательная установка
	- var speed = 220
	- var warp_mode = 3.5
	// Служба оснащения
	- var CPU = 360
	- var reactor = 1100
	- var pointsGun = 8
	- var pointsLauncher = 0
	- var connectHPower = 8
	- var connectMPower = 4
	- var connectLPower = 5