extends templates/template_ship-Caldari

block variables
	// Корабль
	- var nameShip = 'Ferox'
	- var typeShip = 'Линейный крейсер'
	- var price = 47000000
	// Описание
	- var description = "Линейный крейсер типа «Ферокс» был спроектирован, чтобы выглядеть и функционировать как бескомпромиссная машина для убийства. Смертный ужас — вот что почувствует каждый, оказавшийся в его прицеле. «Фероксы» могут с успехом применяться для выполнения широкого спектра боевых задач, залогом чему служит высокая огневая мощь и отличная способность к ведению радиоэлектронной борьбы."
	// Характеристики
	// Корпус
	- var hullStrength = 4000
	- var cargo = 475
	- var droneCompartment = 25
	- var telecontrolChannel = 25
	// Броня
	- var armorStrength = 3500
	// Щит
	- var shieldStrength = 5250
	- var shieldRegen = 1400
	// Накопитель энергии
	- var capacity = 2900
	- var energyRegen = 725
	// Целеуказания
	- var captureRange = 75
	- var amount = 8
	// Двигательная установка
	- var speed = 145
	- var warp_mode = 3.5
	// Служба оснащения
	- var CPU = 515
	- var reactor = 1.150
	- var pointsGun = 6
	- var pointsLauncher = 0
	- var connectHPower = 7
	- var connectMPower = 6
	- var connectLPower = 4