extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Tristan'
	- var typeShip = 'Фрегат'
	- var price = 563000
	// Описание
	- var description = "Часто шутливо называемый «Толстяком», этот небольшой маневренный фрегат преимущественно используется Галлентской Федерацией для сопровождения конвоев или самостоятельного патрулирования на коротких дистанциях. «Тристаны» благодаря своей универсальности на протяжении многих лет активно используются в галлентском космосе. Он стоит недёшево, но затраты на него окупаются сторицей, поскольку «Тристан» — один из наиболее мощных фрегатов, выпущенных в свободную продажу."
	// Характеристики
	// Корпус
	- var hullStrength = 550
	- var cargo = 140
	- var droneCompartment = 40
	- var telecontrolChannel = 25
	// Броня
	- var armorStrength = 450
	// Щит
	- var shieldStrength = 350
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 350
	- var energyRegen = 175
	// Целеуказания
	- var captureRange = 40
	- var amount = 5
	// Двигательная установка
	- var speed = 315
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 130
	- var reactor = 35
	- var pointsGun = 2
	- var pointsLauncher = 0
	- var connectHPower = 3
	- var connectMPower = 3
	- var connectLPower = 3