extends templates/template_ship-Minmatar

block variables
	// Корабль
	- var nameShip = 'Bellicose'
	- var typeShip = 'Крейсер'
	- var price = 11700000
	// Описание
	- var description = "Крейсеры типа «Белликоуз» отличаются многофункциональностью и используются в лобовом наступлении, а также для поддержки эскадрилий фрегатов. Несмотря на некоторую архаичность по сравнению с более современными флотскими крейсерами, «Белликоуз» тем не менее всё ещё считается весьма пригодным для большинства получаемых задач, в особенности требующих вести боевые действия на дальних дистанциях."
	// Характеристики
	// Корпус
	- var hullStrength = 1500
	- var cargo = 315
	- var droneCompartment = 40
	- var telecontrolChannel = 40
	// Броня
	- var armorStrength = 1200
	// Щит
	- var shieldStrength = 1400
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 1200
	- var energyRegen = 427
	// Целеуказания
	- var captureRange = 62.5
	- var amount = 7
	// Двигательная установка
	- var speed = 240
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 400
	- var reactor = 650
	- var pointsGun = 0
	- var pointsLauncher = 4
	- var connectHPower = 4
	- var connectMPower = 5
	- var connectLPower = 4