extends templates/template_ship-Caldari

block variables
	// Корабль
	- var nameShip = 'Caracal'
	- var typeShip = 'Крейсер'
	- var price = 12600000
	// Описание
	- var description = "Крейсер типа «Каракал» —мощная ракетная платформа. Его броневое вооружение оставляет желать лучшего, но этот недостаток в полной мере компенсируется мощной аппаратурой силовых полей. Пусковые установки ракет, установленные на борту «каракалов», способны стереть в пыль практически любого противника."
	// Характеристики
	// Корпус
	- var hullStrength = 1400
	- var cargo = 450
	- var droneCompartment = 10
	- var telecontrolChannel = 10
	// Броня
	- var armorStrength = 1200
	// Щит
	- var shieldStrength = 1700
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 1250
	- var energyRegen = 445
	// Целеуказания
	- var captureRange = 57.5
	- var amount = 6
	// Двигательная установка
	- var speed = 230
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 430
	- var reactor = 630
	- var pointsGun = 0
	- var pointsLauncher = 5
	- var connectHPower = 5
	- var connectMPower = 5
	- var connectLPower = 4