extends templates/template_ship-Minmatar

block variables
	// Корабль
	- var nameShip = 'Probe'
	- var typeShip = 'Фрегат'
	- var price = 591000
	// Описание
	- var description = "Среди прочих фрегатов Республики Минматар «Проуб» примечателен большими размерами; его считают пригодным для задач разведки и транспортировки. Кроме того, для корабля матарского производства он на удивление хорошо бронирован; к сожалению, нехватка точек монтажа вооружений приводит к тому, что пилоты этих фрегатов вынуждены рассчитывать на поддержку собственных дронов."
	// Характеристики
	// Корпус
	- var hullStrength = 225
	- var cargo = 400
	- var droneCompartment = 35
	- var telecontrolChannel = 15
	// Броня
	- var armorStrength = 300
	// Щит
	- var shieldStrength = 300
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 235
	- var energyRegen = 130
	// Целеуказания
	- var captureRange = 32.5
	- var amount = 4
	// Двигательная установка
	- var speed = 360
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 240
	- var reactor = 25
	- var pointsGun = 2
	- var pointsLauncher = 2
	- var connectHPower = 3
	- var connectMPower = 4
	- var connectLPower = 3