extends templates/template_ship-Minmatar

block variables
	// Корабль
	- var nameShip = 'Vigil'
	- var typeShip = 'Фрегат'
	- var price = 406000
	// Описание
	- var description = "«Виджил» — нестандартный для матаров корабль, позволяющий как осуществлять дальние разведывательные операции, так и использовать средства электронного противодействия. Он быстр и маневрен, позволяет держать необходимую дистанцию, не подпуская неприятеля на расстояние ведения эффективного огня и применяя средства постановки помех или иное электронное оборудование."
	// Характеристики
	// Корпус
	- var hullStrength = 300
	- var cargo = 250
	- var droneCompartment = 5
	- var telecontrolChannel = 5
	// Броня
	- var armorStrength = 300
	// Щит
	- var shieldStrength = 350
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 235
	- var energyRegen = 130
	// Целеуказания
	- var captureRange = 65
	- var amount = 6
	// Двигательная установка
	- var speed = 410
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 225
	- var reactor = 26
	- var pointsGun = 0
	- var pointsLauncher = 2
	- var connectHPower = 2
	- var connectMPower = 5
	- var connectLPower = 2