extends templates/template_ship-Minmatar

block variables
	// Корабль
	- var nameShip = 'Typhoon'
	- var typeShip = 'Линкор'
	- var price = 302000000
	// Описание
	- var description = "«Тайфуны» никогда не испытывали недостатка ни в хвале, ни в хуле, и всегда входили в круг наиболее обсуждаемых кораблей галактики. Причиной тому — их универсальность, которую пилоты склонны считать либо просчетом конструкторов, не сумевших дать кораблям специализацию, либо их остроумной находкой, благодаря которой пилоты вольны подгонять эти линкоры под свои собственные нужды. "
	// Характеристики
	// Корпус
	- var hullStrength = 6600
	- var cargo = 780
	- var droneCompartment = 125
	- var telecontrolChannel = 100
	// Броня
	- var armorStrength = 6600
	// Щит
	- var shieldStrength = 7150
	- var shieldRegen = 2500
	// Накопитель энергии
	- var capacity = 5400
	- var energyRegen = 1099
	// Целеуказания
	- var captureRange = 82.5
	- var amount = 7
	// Двигательная установка
	- var speed = 130
	- var warp_mode = 3.0
	// Служба оснащения
	- var CPU = 640
	- var reactor = 12500
	- var pointsGun = 6
	- var pointsLauncher = 6
	- var connectHPower = 7
	- var connectMPower = 5
	- var connectLPower = 7