extends templates/template_ship-Caldari

block variables
	// Корабль
	- var nameShip = 'Bantam'
	- var typeShip = 'Фрегат'
	- var price = 203000
	// Описание
	- var description = "В 114-м году по юлайскому летоисчислению крупнейшие государства галактики, увязшие в тяжёлой, затяжной войне без конца и края, были вынуждены обратить внимание на растущую потребность военных флотов в ремонтных кораблях и кораблях обеспечения — она диктовалась самим характером продолжительных боевых действий в межзвёздном масштабе, способных полностью измотать противоборствующие стороны. В Государстве Калдари такой корабль был создан на основе фрегата «Бэнтам» после существенной переработки конструкции. «Бэнтам» — крепкий и прочный корабль. Он был чрезвычайно эффективен при добыче сырья. При перестройке конструкции обширный корпус «Бэнтама» был модифицирован для несения ремонтных систем. Это снизило полезный внутренний объем фрегата, но позволило сконцентрировать его функциональность на дистанционной накачке щитов дружественных кораблей."
	// Характеристики
	// Корпус
	- var hullStrength = 310
	- var cargo = 270
	- var droneCompartment = 5
	- var telecontrolChannel = 5
	// Броня
	- var armorStrength = 225
	// Щит
	- var shieldStrength = 500
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 615
	- var energyRegen = 307
	// Целеуказания
	- var captureRange = 40
	- var amount = 7
	// Двигательная установка
	- var speed = 370
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 200
	- var reactor = 39
	- var pointsGun = 2
	- var pointsLauncher = 0
	- var connectHPower = 3
	- var connectMPower = 4
	- var connectLPower = 2