extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Celestis'
	- var typeShip = 'Крейсер'
	- var price = 9380000
	// Описание
	- var description = "Крейсеры типа «Селестис» — многофункциональные корабли, подходящие для выполнения самых различных задач. Благодаря этому, они широко востребованы небольшими корпорациями, вынужденными использовать ограниченный парк кораблей. Не изменяя своим принципам, галлентские инженеры сделали «Селестис» особенно смертоносным в ближнем бою благодаря современным системам сопровождения цели."
	// Характеристики
	// Корпус
	- var hullStrength = 1700
	- var cargo = 320
	- var droneCompartment = 50
	- var telecontrolChannel = 50
	// Броня
	- var armorStrength = 1300
	// Щит
	- var shieldStrength = 1200
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 1300
	- var energyRegen = 463
	// Целеуказания
	- var captureRange = 75
	- var amount = 8
	// Двигательная установка
	- var speed = 210
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 375
	- var reactor = 575
	- var pointsGun = 3
	- var pointsLauncher = 3
	- var connectHPower = 3
	- var connectMPower = 5
	- var connectLPower = 5