extends templates/template_ship-Amarr

block variables
	// Корабль
	- var nameShip = 'Inquisitor'
	- var typeShip = 'Фрегат'
	- var price = 492000
	// Описание
	- var description = "В 114-м году по юлайскому летоисчислению крупнейшие государства галактики, увязшие в тяжёлой, затяжной войне без конца и края, были вынуждены обратить внимание на растущую потребность военных флотов в ремонтных кораблях и кораблях обеспечения — она диктовалась самим характером продолжительных боевых действий в межзвёздном масштабе, способных полностью измотать противоборствующие стороны. В Амаррской Империи такой корабль был создан на основе фрегата типа «Инквизитор» после существенной переработки конструкции. Первоначальный дизайн «Инквизитора» мог служить наглядным примером того, как флот Амаррской Империи разрабатывает корабли в ответ на тактические решения прочих сверхдержав. После переработки конструкции и переориентировки на работу с установками дистанционного ремонта брони «инквизиторы» утратили пусковые установки, которыми были примечательны ранее, и взяли на себя роль ремонтных кораблей."
	// Характеристики
	// Корпус
	- var hullStrength = 330
	- var cargo = 250
	- var droneCompartment = 5
	- var telecontrolChannel = 5
	// Броня
	- var armorStrength = 500
	// Щит
	- var shieldStrength = 225
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 675
	- var energyRegen = 337
	// Целеуказания
	- var captureRange = 36
	- var amount = 7
	// Двигательная установка
	- var speed = 405
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 135
	- var reactor = 51
	- var pointsGun = 2
	- var pointsLauncher = 0
	- var connectHPower = 3
	- var connectMPower = 2
	- var connectLPower = 4