extends templates/template_ship-Minmatar

block variables
	// Корабль
	- var nameShip = 'Stabber'
	- var typeShip = 'Крейсер'
	- var price = 13200000
	// Описание
	- var description = "Крейсеры типа «Стаббер» составляют каркас матарского флота. Лeгкий и чрезвычайно быстрый, этот корабль на удивление мощен и оснащён разнообразными видами вооружений. Это один из немногих матарских кораблей, снискавших популярность за пределами пространства Республики."
	// Характеристики
	// Корпус
	- var hullStrength = 1300
	- var cargo = 420
	- var droneCompartment = 25
	- var telecontrolChannel = 25
	// Броня
	- var armorStrength = 1300
	// Щит
	- var shieldStrength = 1600
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 1200
	- var energyRegen = 427
	// Целеуказания
	- var captureRange = 47.5
	- var amount = 5
	// Двигательная установка
	- var speed = 290
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 340
	- var reactor = 715
	- var pointsGun = 4
	- var pointsLauncher = 2
	- var connectHPower = 6
	- var connectMPower = 4
	- var connectLPower = 4