extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Exequror'
	- var typeShip = 'Крейсер'
	- var price = 10200000
	// Описание
	- var description = "К 114 году от ю.с. все державы и организации, участвовавшие на тот момент в масштабной, затяжной войне, осознали необходимость обеспечения своих судов функциями поддержки и логистики — в противном случае нескончаемые бои до крайности выматывали участников конфликта. В ходе исследований, в центре которых оказались фрегаты и крейсеры, инженерами Галлентской Федерации, помимо прочего, была существенно переработана конструкция и предназначение «Экзекьюрора». Изначально «Экзекьюрор» был тяжёлым грузовым крейсером, способным отбить атаку фрегата, однако в более серьёзных боевых ситуациях он был бесполезен. В ходе переработки он лишился части своей массы и, соответственно, части силы. Теперь его главное предназначение — помогать другим в пылу сражений, в особенности тем, кому требуется ремонт брони."
	// Характеристики
	// Корпус
	- var hullStrength = 1600
	- var cargo = 495
	- var droneCompartment = 50
	- var telecontrolChannel = 50
	// Броня
	- var armorStrength = 1400
	// Щит
	- var shieldStrength = 1000
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 1925
	- var energyRegen = 385
	// Целеуказания
	- var captureRange = 55
	- var amount = 8
	// Двигательная установка
	- var speed = 240
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 275
	- var reactor = 610
	- var pointsGun = 3
	- var pointsLauncher = 0
	- var connectHPower = 3
	- var connectMPower = 4
	- var connectLPower = 6