extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Imicus'
	- var typeShip = 'Фрегат'
	- var price = 558000
	// Описание
	- var description = "«Имикус» — медленный, но хорошо бронированный фрегат. Это идеальный корабль для осуществления любых разведывательных операций. Используемый торговцами, бойцами и пилотами-боевиками, «Имикус» — это глаза и уши малых групп, пересекающих сектора с низким уровнем безопасности."
	// Характеристики
	// Корпус
	- var hullStrength = 275
	- var cargo = 400
	- var droneCompartment = 40
	- var telecontrolChannel = 20
	// Броня
	- var armorStrength = 325
	// Щит
	- var shieldStrength = 275
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 270
	- var energyRegen = 150.5
	// Целеуказания
	- var captureRange = 35
	- var amount = 4
	// Двигательная установка
	- var speed = 330
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 250
	- var reactor = 21
	- var pointsGun = 1
	- var pointsLauncher = 0
	- var connectHPower = 3
	- var connectMPower = 4
	- var connectLPower = 3