extends templates/template_ship-Amarr

block variables
	// Корабль
	- var nameShip = 'Prophecy'
	- var typeShip = 'Линейный крейсер'
	- var price = 51800000
	// Описание
	- var description = "Проект «Професи» был создан на основе древнего амаррского военного корабля, разработанного на самой заре космических сражений. Изначально предполагалось, что «професи» войдут в состав флота в качестве полноценных линкоров, однако результаты боевых испытаний кораблей-прототипов убедительно доказали: наибольшую пользу они способны принести в роли подвижного средства огневой поддержки главных сил флота."
	// Характеристики
	// Корпус
	- var hullStrength = 4000
	- var cargo = 400
	- var droneCompartment = 225
	- var telecontrolChannel = 75
	// Броня
	- var armorStrength = 5500
	// Щит
	- var shieldStrength = 3000
	- var shieldRegen = 1400
	// Накопитель энергии
	- var capacity = 3000
	- var energyRegen = 750
	// Целеуказания
	- var captureRange = 50
	- var amount = 7
	// Двигательная установка
	- var speed = 170
	- var warp_mode = 3.5
	// Служба оснащения
	- var CPU = 415
	- var reactor = 1100
	- var pointsGun = 4
	- var pointsLauncher = 4
	- var connectHPower = 5
	- var connectMPower = 4
	- var connectLPower = 7