extends templates/template_ship-Caldari

block variables
	// Корабль
	- var nameShip = 'Osprey'
	- var typeShip = 'Крейсер'
	- var price = 10400000
	// Описание
	- var description = "В 114-м году по юлайскому летоисчислению крупнейшие государства галактики, увязшие в тяжёлой, затяжной войне без конца и края, были вынуждены обратить внимание на растущую потребность военных флотов в ремонтных кораблях и кораблях обеспечения — она диктовалась самим характером продолжительных боевых действий в межзвёздном масштабе, способных полностью измотать противоборствующие стороны. Инженеры тщательно рассмотрели особенности конструкции всех имеющихся вариантов фрегатов и крейсеров, и в государстве Калдари одним из результатов такого подробного разбора стал существенно переработанный и вновь выпущенный в свет крейсер «Оспри». Первоначально «Оспри» был многофункциональным, мощным и недорогим для своих тактико-технических характеристик кораблем. После переработки конструкции корабля инженеры удалили устаревшие встроенные буровые системы; их место заняли системы дистанционной передачи энергии и накачки щитов."
	// Характеристики
	// Корпус
	- var hullStrength = 1450
	- var cargo = 485
	- var droneCompartment = 20
	- var telecontrolChannel = 20
	// Броня
	- var armorStrength = 1000
	// Щит
	- var shieldStrength = 1650
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 2100
	- var energyRegen = 420
	// Целеуказания
	- var captureRange = 62.5
	- var amount = 8
	// Двигательная установка
	- var speed = 210
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 380
	- var reactor = 470
	- var pointsGun = 1
	- var pointsLauncher = 2
	- var connectHPower = 5
	- var connectMPower = 5
	- var connectLPower = 3