extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Vexor'
	- var typeShip = 'Крейсер'
	- var price = 12200000
	// Описание
	- var description = "«Вексор» — мощный корабль общего назначения, пригодный как для боя, так и для иных целей. «Вексор» хорошо приспособлен к разведке потенциально враждебных территорий, так как он может нести длительную службу в глубоком космосе, подолгу не возвращаясь на базу приписки. Более того, он может устоять даже против весьма интенсивных атак."
	// Характеристики
	// Корпус
	- var hullStrength = 2000
	- var cargo = 480
	- var droneCompartment = 125
	- var telecontrolChannel = 75
	// Броня
	- var armorStrength = 2000
	// Щит
	- var shieldStrength = 1100
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 1450
	- var energyRegen = 482
	// Целеуказания
	- var captureRange = 52.5
	- var amount = 6
	// Двигательная установка
	- var speed = 195
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 300
	- var reactor = 700
	- var pointsGun = 4
	- var pointsLauncher = 0
	- var connectHPower = 4
	- var connectMPower = 4
	- var connectLPower = 5