extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Thorax'
	- var typeShip = 'Крейсер'
	- var price = 11500000
	// Описание
	- var description = "Крейсеры типа «Торакс» относятся к наиболее современным проектам среди стоящих на вооружении флота Галлентской Федерации. «Торакс» способен успешно вести бой на любой дистанции, однако наиболее эффективным способом его применения является «контактный бой» — в полном соответствии с идеологией, которой придерживаются галлентские конструкторы. В ближнем бою кинжальный огонь его бластеров и полчища дронов могут прорвать любую защиту."
	// Характеристики
	// Корпус
	- var hullStrength = 1600
	- var cargo = 465
	- var droneCompartment = 50
	- var telecontrolChannel = 50
	// Броня
	- var armorStrength = 1600
	// Щит
	- var shieldStrength = 1200
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 1450
	- var energyRegen = 517
	// Целеуказания
	- var captureRange = 52.5
	- var amount = 6
	// Двигательная установка
	- var speed = 240
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 330
	- var reactor = 820
	- var pointsGun = 5
	- var pointsLauncher = 0
	- var connectHPower = 5
	- var connectMPower = 4
	- var connectLPower = 5