extends templates/template_ship-Amarr

block variables
	// Корабль
	- var nameShip = 'Executioner'
	- var typeShip = 'Фрегат'
	- var price = 399000
	// Описание
	- var description = "«Экзекьюшнер» — ещё один фрегат, лишь недавно вошедший в строй флота Амаррской Империи. Он специально разрабатывался для противостояния небольшим быстрым фрегатам Республики Минматар, что и является причиной его необычно большой скорости, достигнутой за счёт ослабления защитных систем. «Экзекьюшнер» расширил спектр тактических возможностей амаррцев на поле боя."
	// Характеристики
	// Корпус
	- var hullStrength = 350
	- var cargo = 115
	- var droneCompartment = 0
	- var telecontrolChannel = 0
	// Броня
	- var armorStrength = 450
	// Щит
	- var shieldStrength = 250
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 360
	- var energyRegen = 180
	// Целеуказания
	- var captureRange = 27.5
	- var amount = 4
	// Двигательная установка
	- var speed = 410
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 140
	- var reactor = 45
	- var pointsGun = 3
	- var pointsLauncher = 0
	- var connectHPower = 4
	- var connectMPower = 3
	- var connectLPower = 3