extends templates/template_ship-Amarr

block variables
	// Корабль
	- var nameShip = 'Crucifier'
	- var typeShip = 'Фрегат'
	- var price = 381000
	// Описание
	- var description = "Фрегаты типа «Крусифаер» изначально создавались как экспедиционно-разведывательные корабли, однако сейчас на конвейер поставлена модель, в которой бортовые электронные системы перепрофилированы на ведение наступательного боя. Электронно-вычислительные бортовые системы «Крусифаера» занимают большую часть внутреннего пространства корабля, оставляя мало места для груза или традиционных видов вооружения."
	// Характеристики
	// Корпус
	- var hullStrength = 350
	- var cargo = 265
	- var droneCompartment = 45
	- var telecontrolChannel = 15
	// Броня
	- var armorStrength = 400
	// Щит
	- var shieldStrength = 250
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 330
	- var energyRegen = 180
	// Целеуказания
	- var captureRange = 64
	- var amount = 6
	// Двигательная установка
	- var speed = 350
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 235
	- var reactor = 27
	- var pointsGun = 2
	- var pointsLauncher = 0
	- var connectHPower = 3
	- var connectMPower = 4
	- var connectLPower = 3