color_Amarr = #ccb400;
color_Gallente = #009973;
color_Caldari = #008fb3;
color_Minmatar = #b32400;

style-block_ship(color)
        display flex
        margin 5px
        padding 5px
        border-radius 5px
        box-sizing border-box
        background rgba(0, 0, 0, 0.2)
        & div.img
            width 30%
            padding 0.2em
            box-sizing border-box
            & img
                width 100%
                border-radius 8px
                box-sizing border-box
                border 1px solid #333333
        & div.text
            width 70%
            padding 0.2em
            box-sizing border-box
            & h2
                margin-block-start 0
                margin-block-end 0
                font-style italic
                color #e6e6e6
            & tr
                vertical-align top
                & h4
                    margin-block-start 0.4em
                    margin-block-end 0
                    color #d9d9d9
                & p
                    margin-block-start 0.4em
                    margin-block-end 0
                    color #bfbfbf
                    &.color_Amarr
                        color color_Amarr
                    &.color_Gallente
                        color color_Gallente
                    &.color_Caldari
                        color color_Caldari
                    &.color_Minmatar
                        color color_Minmatar
            & .color
                color color

html
    font 14px arial
    background-image url(../img/background.jpg)
    background-size cover
    background-position center center
    background-repeat no-repeat
    background-attachment fixed
body
    display grid
    grid-template-rows max-content max-content
    grid-template-columns 25% 75%
    max-width 1200px
    width 100%
    margin auto
    box-sizing border-box
    background #1b5a7e
p
    text-align justify
    margin-top 0
    margin-bottom 0

div.block_menu
    grid-area 1 / 1 / 2 / 3
    display flex
    flex-direction row-reverse
    flex-wrap nowrap
    justify-content flex-start
    position sticky
    top 0
    max-width 1200px
    width 100%
    margin 0 0 5px 0
    background #123c54
    & a
        indent = 15px
        indent_side = 8px
        indent_act = 20px
        margin indent_act 0 0 0
        padding indent indent_side
        font-weight bold
        font-size calc(1em + 2px)
        text-decoration none
        color #ffffff
        &:hover
            border-radius 5px
            background rgba(0, 0, 0, 0.2)
        &.active
            margin 0 0 0 0
            padding indent+indent_act indent indent indent
            background rgba(0, 0, 0, 0.3)
div.block_tree
    grid-area 2 / 1 / 5 / 2
    margin 5px
    border-radius 5px
    box-sizing border-box
    background #123c54
    & fieldset
        border-radius 5px
        border groove #e6e6e6
        & h3
            font-size 1em
            color #e6e6e6
        & details
            color #e6e6e6
        & .Corvette,.Frigate,.Destroyer,.Cruser,.Battle_cruiser,.Battleship
            & > summary
                font-weight bold
                line-height 1.5em
                list-style none
                border-top 1px solid #b3b3b3
                border-bottom 1px solid #b3b3b3
                background rgba(0, 0, 0, 0.2)
            & abbr
                text-decoration none
        & .Amarr > summary
            font-weight bold
            line-height 1.5em
            list-style none
            text-indent 10px
            color #ccb400
            border-bottom 1px solid #999999
            background rgba(0, 0, 0, 0.1)
        & .Gallente > summary
            font-weight bold
            line-height 1.5em
            list-style none
            text-indent 10px
            color #009973
            border-bottom 1px solid #999999
            background rgba(0, 0, 0, 0.1)
        & .Caldari > summary
            font-weight bold
            line-height 1.5em
            list-style none
            text-indent 10px
            color #008fb3
            border-bottom 1px solid #999999
            background rgba(0, 0, 0, 0.1)
        & .Minmatar > summary
            font-weight bold
            line-height 1.5em
            list-style none
            text-indent 10px
            color #b32400
            border-bottom 1px solid #999999
            background rgba(0, 0, 0, 0.1)
        & p
            line-height 2
            margin-top 0
            margin-bottom 0
            background rgba(0, 0, 0, 0.08)
            & input
                position absolute
                z-index -1
                opacity 0
                & + span
                    display inline-flex
                    margin-left 10px
                    vertical-align -2px
                    user-select none
                & + span::before
                    content ''
                    display inline-block
                    width 0.8em
                    height 0.8em
                    margin-right 0.5em
                    border-radius 0.25em
                    border 1px solid #9ca6b0
                &:not(:checked)+span:hover::before
                    border-color #b3d7ff
                &:active + span::before
                    background-color #b3d7ff
                    border-color #b3d7ff
                &:focus+span::before
                    box-shadow 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
                &:focus:not(:checked)+span::before
                    border-color #80bdff
                &:checked+span::before
                    border-color #0b76ef
                    background-color #0b76ef
            & a
                font-style italic
                text-decoration none
                color #cccccc
                &:hover
                    font-weight bold
                    color #f2f2f2
                &.action
                    font-weight bold
                    color #f2f2f2
        & div.button_tree
            display block
            width 100%
            & input[type="button"]
                width 100%
                margin-top 0.5em
div.block_data
    grid-area 2 / 2 / 5 / 3
    margin 5px
    border-radius 5px
    box-sizing border-box
    background #123c54

    //- Страница index
    & div.main_block_img
        display flex
        margin 20px 5px
        text-align center
        border-radius 3px
        box-sizing border-box
        background rgba(0, 0, 0, 0.2)
        & div
            width 25%
            padding 0.2em
            box-sizing border-box
            & img
                width 100%
                border-radius 3px
                box-sizing border-box
                border 1px solid #333333
    & div.main_block_ship_imp
        style-block_ship(color_Amarr)
    & div.main_block_ship_vel
        style-block_ship(color_Gallente)
    & div.main_block_ship_ibi
        style-block_ship(color_Caldari)
    & div.main_block_ship_rea
        style-block_ship(color_Minmatar)

    //- Страница ship
    div.ship_block_img
        style-block_ship(null)
    div.ship_block_text
        display flex
        margin 5px
        padding 5px 2.5px
        border-radius 5px
        box-sizing border-box
        background rgba(0, 0, 0, 0.2)
        & div.characteristic
            width 60%
        & div.equipment
            width 40%
        & fieldset.global
            height calc(100%)
            margin-right 2.5px
            margin-left 2.5px
            box-sizing border-box
            border-radius 5px
            border groove #bfbfbf
            & > legend > h4
                margin-top 0
                margin-bottom 0
                color #e6e6e6
            & fieldset
                border-radius 5px
                border-color #bfbfbf
                & > legend > h4
                    margin-top 0
                    margin-bottom 0
                    color #e6e6e6
                & > table
                    width 100%
                    & td
                        vertical-align top
                        &.field
                            width 75%
                            color #d9d9d9
                        &.data
                            width 25%
                            color #bfbfbf

    //- Страница statis
    div.statis_block_setting
        margin 5px
        padding 5px
        border-radius 5px
        box-sizing border-box
        background rgba(0, 0, 0, 0.2)
        & > fieldset
            display flex
            flex-wrap wrap
            box-sizing border-box
            border-radius 5px
            & > legend > h4
                margin-top 0
                margin-bottom 0
                color #e6e6e6
            & > div
                display flex
                flex-wrap wrap
                width 100%
                &.setting_field
                    & div
                        width 50%
                    & div.button_setting
                        display flex
                        flex-wrap wrap
                        width 100%
                        margin-top 10px
                        & input[type="button"]
                            width 50%
                &.setting_display
                    display flex
                    flex-wrap wrap
                    width 100%
                    margin-top 10px
                    height: auto
                    & > div
                        min-width max-content
                        width 100%
                        margin-bottom 8px
                        color #d9d9d9
                        & select
                            width 100%
                        & input[type="button"]
                            width 100%
            & fieldset
                margin-right 2.5px
                margin-left 2.5px
                border-radius 5px
                border-color #bfbfbf
                & > legend > h4
                    margin-top 0
                    margin-bottom 0
                    color #e6e6e6
                & > table
                    width 100%
                    & td
                        vertical-align top
                        &.field
                            width 95%
                            color #d9d9d9
                        &.data
                            width 5%
                & input.checkbox_setting
                    position absolute
                    z-index -1
                    opacity 0
                    & + span
                       display inline-flex
                       margin-left 10px
                       vertical-align -2px
                       user-select none
                    & + span::before
                        content ''
                        display inline-block
                        width 0.8em
                        height 0.8em
                        border-radius 0.25em
                        border 1px solid #9ca6b0
                    &:not(:checked)+span:hover::before
                        border-color #b3d7ff
                    &:active + span::before
                        background-color #b3d7ff
                        border-color #b3d7ff
                    &:focus+span::before
                        box-shadow 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
                    &:focus:not(:checked)+span::before
                        border-color #80bdff
                    &:checked+span::before
                        border-color #0b76ef
                        background-color #0b76ef
    div.statis_block_table
        display flex
        margin 5px
        padding 5px
        border-radius 5px
        box-sizing border-box
        background rgba(0, 0, 0, 0.2)
        & div#table_name
            width 350px
            & table
                width 100%
                border-top-left-radius 5px
                border-bottom-left-radius 5px
                & td
                    width 150px
                    & input
                        width calc(100% - 10px)
        & div#table_value
            width calc(100% - 350px)
            overflow auto
            & table
                border-top-right-radius 5px
                border-bottom-right-radius 5px
        & table
            border 1px solid #cccccc
            border-spacing 1px
            & tr
                height 36px
                &.size
                    height 16px
                & th
                    min-width 45px
                    color #d9d9d9
                & td
                    color #a6a6a6
    div.statis_block_graph
        margin 5px
        padding 5px
        border-radius 5px
        box-sizing border-box
        background rgba(0, 0, 0, 0.2)
        & > fieldset
            min-inline-size calc(100% - 100px)
            border-radius 5px
            & > legend > h4
                margin-top 0
                margin-bottom 0
                color #e6e6e6
            & div.fieldset
                display flex
                padding 5px
                box-sizing border-box
                & div.graph
                    display flex
                    width 80%
                    height 250px              
                    & div.block_graph_size
                        width 80px
                        & div.column
                            height 100%
                        & p
                            height 50%
                            margin-right 0.5em
                            text-align right
                            color #f2f2f2
                            &.min
                                display grid
                                align-items end

                    & div.block_graph_columns
                        display flex
                        width calc(100% - 80px)
                        border 1px solid black
                        & div.column
                            position relative
                            min-width max-content
                            width calc(100% / 76)
                            height 100%
                            //margin 0 1px
                            box-sizing border-box
                            & > div.progress
                                position absolute
                                bottom 0
                                width 100%
                                margin auto
                                &.a
                                    background #cccc00
                                &.b
                                    background #bbbb00
                            & > div.progress_data
                                width 20px
                                height 100%
                                text-align right
                                writing-mode vertical-rl
                                font-size calc(1em + 2px)
                                & > h4
                                    position relative
                                    margin-block-start 1px
                                    margin-top 0
                                    margin-bottom 24px
                                    font-weight normal
                                    color #f2f2f2
                & div.setting
                    width 20%
                    padding-left 5px
                    box-sizing border-box
                    & label
                        color #f2f2f2
                    & select
                        margin-block-end 0.8em
                        width 100%
                    & input
                        width 100%

@media (max-width: 600px)
    style-block_ship(color)
        flex-wrap wrap
        & div.img
            width 100%
            text-align center
            padding 0.5em
            & img
                max-width 256px
                border-radius 12px
        & div.text
            width 100%
            padding 0.5em
    html
        font-size 12px
    body
        grid-template-rows max-content max-content max-content
        grid-template-columns 100%
    div.block_menu
        grid-area 1 / 1 / 2 / 2
        flex-direction row
    div.block_tree
        grid-area 2 / 1 / 3 / 2
        & fieldset
            display flex
            flex-wrap wrap
            & .Corvette,.Frigate,.Destroyer,.Cruser,.Battle_cruiser,.Battleship
                width 33.33%
            & div.button_tree
                display flex
                & input[type="button"]
                    width 50%
    div.block_data
        grid-area 3 / 1 / 4 / 2
        //- Страница index
        & div.main_block_img
            flex-wrap wrap
            & div
                width 50%
                padding 0.5em
                & img
                    border-radius 10px
        & div.main_block_ship_imp
            style-block_ship(color_Amarr)
        & div.main_block_ship_vel
            style-block_ship(color_Gallente)
        & div.main_block_ship_ibi
            style-block_ship(color_Caldari)
        & div.main_block_ship_rea
            style-block_ship(color_Minmatar)
        //- Страница ship
        div.ship_block_img
            style-block_ship(null)
        div.ship_block_text
            display block
            & div.characteristic
                width 100%
                margin-bottom 0.5em
            & div.equipment
                width 100%
        //- Страница statis
        div.statis_block_setting
            & > fieldset
                display block
                & > div
                    width 100%
                    &.display
                        display block
                        & > div
                            width 100%
        div.statis_block_table
            & div#table_name
                width 300px
                & table
                    & td
                        width 120px
                        & input
                            width calc(100% - 10px)
            & div#table_value
                width calc(100% - 300px)
        div.statis_block_graph
            & > fieldset
                & div.fieldset
                    display block
                    & div.graph
                        width 100%            
                        & div.block_graph_size
                            width 65px
                        & div.block_graph_columns
                            width calc(100% - 65px)
                            & div.column
                                & > div.progress_data
                                    & > h4
                                        margin-block-start 2px
                    & div.setting
                        display flex
                        flex-wrap wrap
                        width 100%
                        & label
                            width 50%
                            margin-top 0.5em
                        & select
                            width 80%