if status == "main"
	a(href="./index.html").active Главная страница
else
	a(href="./index.html") Главная страница

if status == "statis"
	a(href="./statistics.html").active Статистика
else
	a(href="./statistics.html") Статистика

if status == "ship"
	a(href="./ship_Corvette-Impairor.html").active Корабль
else
	a(href="./ship_Corvette-Impairor.html") Корабль