fieldset
    legend
        h4 График
    div.fieldset
        .graph
            .block_graph_size
                .column
                    p.max 512000000
                    p.min 0
            .block_graph_columns
                .column
                    .progress.a(style='height: 0%')
                .column
                    .progress.b(style='height: 0%')
                .column
                    .progress.a(style='height: 0%')
                .column
                    .progress.b(style='height: 0%')
                .column
                    .progress.a(style='height: 0.108203125%')
                .column
                    .progress.b(style='height: 0.1009765625%')
                .column
                    .progress.a(style='height: 0.1046875%')
                .column
                    .progress.b(style='height: 0.0744140625%')
                .column
                    .progress.a(style='height: 0.0779296875%')
                .column
                    .progress.b(style='height: 0.09609375%')
                .column
                    .progress.a(style='height: 0.0259765625%')
                .column
                    .progress.b(style='height: 0.1099609375%')
                .column
                    .progress.a(style='height: 0.046484375%')
                .column
                    .progress.b(style='height: 0.108984375%')
                .column
                    .progress.a(style='height: 0.09140625%')
                .column
                    .progress.b(style='height: 0.0802734375%')
                .column
                    .progress.a(style='height: 0.0396484375%')
                .column
                    .progress.b(style='height: 0.09765625%')
                .column
                    .progress.a(style='height: 0.057421875%')
                .column
                    .progress.b(style='height: 0.123828125%')
                .column
                    .progress.a(style='height: 0.040625%')
                .column
                    .progress.b(style='height: 0.123828125%')
                .column
                    .progress.a(style='height: 0.0875%')
                .column
                    .progress.b(style='height: 0.1154296875%')
                .column
                    .progress.a(style='height: 0.0625%')
                .column
                    .progress.b(style='height: 0.1123046875%')
                .column
                    .progress.a(style='height: 0.033203125%')
                .column
                    .progress.b(style='height: 0.079296875%')
                .column
                    .progress.a(style='height: 0.232421875%')
                .column
                    .progress.b(style='height: 0.224609375%')
                .column
                    .progress.a(style='height: 0.22265625%')
                .column
                    .progress.b(style='height: 0.220703125%')
                .column
                    .progress.a(style='height: 0.201171875%')
                .column
                    .progress.b(style='height: 0.1923828125%')
                .column
                    .progress.a(style='height: 0.20703125%')
                .column
                    .progress.b(style='height: 0.234375%')
                .column
                    .progress.a(style='height: 2.40234375%')
                .column
                    .progress.b(style='height: 1.841796875%')
                .column
                    .progress.a(style='height: 2.36328125%')
                .column
                    .progress.b(style='height: 1.84375%')
                .column
                    .progress.a(style='height: 2.24609375%')
                .column
                    .progress.b(style='height: 2.3828125%')
                .column
                    .progress.a(style='height: 1.83203125%')
                .column
                    .progress.b(style='height: 1.9921875%')
                .column
                    .progress.a(style='height: 2.24609375%')
                .column
                    .progress.b(style='height: 2.03125%')
                .column
                    .progress.a(style='height: 2.4609375%')
                .column
                    .progress.b(style='height: 1.763671875%')
                .column
                    .progress.a(style='height: 2.2265625%')
                .column
                    .progress.b(style='height: 1.869140625%')
                .column
                    .progress.a(style='height: 2.578125%')
                .column
                    .progress.b(style='height: 2.28515625%')
                .column
                    .progress.a(style='height: 10.1171875%')
                .column
                    .progress.b(style='height: 10.15625%')
                .column
                    .progress.a(style='height: 12.79296875%')
                .column
                    .progress.b(style='height: 10.01953125%')
                .column
                    .progress.a(style='height: 10.44921875%')
                .column
                    .progress.b(style='height: 13.10546875%')
                .column
                    .progress.a(style='height: 9.1796875%')
                .column
                    .progress.b(style='height: 10.33203125%')
                .column
                    .progress.a(style='height: 12.12890625%')
                .column
                    .progress.b(style='height: 10.17578125%')
                .column
                    .progress.a(style='height: 10.234375%')
                .column
                    .progress.b(style='height: 13.96484375%')
                .column
                    .progress.a(style='height: 60.546875%')
                .column
                    .progress.b(style='height: 59.9609375%')
                .column
                    .progress.a(style='height: 60.9375%')
                .column
                    .progress.b(style='height: 63.0859375%')
                .column
                    .progress.a(style='height: 60.546875%')
                .column
                    .progress.b(style='height: 60.7421875%')
                .column
                    .progress.a(style='height: 60.9375%')
                .column
                    .progress.b(style='height: 60.546875%')
                .column
                    .progress.a(style='height: 47.8515625%')
                .column
                    .progress.b(style='height: 58.0078125%')
                .column
                    .progress.a(style='height: 62.109375%')
                .column
                    .progress.b(style='height: 58.984375%')
        .setting
            label Ось X: 
                select#x
                    option(value="-1") Корабль: Название
                    option(value="0") Корабль: Название и тип
            label Ось Y: 
                select#y
                    option(value="2" data-max="512000000") Стоимость
                    option(value="3" data-max="10000") Запас прочности корпуса
                    option(value="4" data-max="1000") Вместимость грузового отсека
                    option(value="5" data-max="400") Объем отсека для дронов
                    option(value="6" data-max="400") Канал телеуправления
                    option(value="16" data-max="10000") Запас прочности брони
                    option(value="21" data-max="10000") Запас прочности щита
                    option(value="22" data-max="2500") Время регенерации щитов
                    option(value="30" data-max="8000") Емкость накопителя
                    option(value="31" data-max="2000") Время востановления заряда
                    option(value="32" data-max="120") Дальность захвата цели
                    option(value="33" data-max="10") Количество захваченных целей
                    option(value="40" data-max="500") Максимальная скорость
                    option(value="41" data-max="5") Скорость в варп-режиме
                    option(value="42" data-max="2000") Мощность ЦПУ
                    option(value="43" data-max="25000") Мощность реактора
            input(type="button" value="Обновить")#update_graph
