extends templates/template_ship-Caldari

block variables
	// Корабль
	- var nameShip = 'Scorpion'
	- var typeShip = 'Линкор'
	- var price = 245000000
	// Описание
	- var description = "Первый линейный корабль типа «Скорпион» был запущен в производство всего несколько лет назад, и уже построенные экземпляры считаются прототипами. Мало что известно о возможностях «скорпионов», если верить слухам, они под завязку набиты высокотехнологичным оборудованием, практически не имеющим аналогов в мире."
	// Характеристики
	// Корпус
	- var hullStrength = 7150
	- var cargo = 690
	- var droneCompartment = 75
	- var telecontrolChannel = 75
	// Броня
	- var armorStrength = 6050
	// Щит
	- var shieldStrength = 7700
	- var shieldRegen = 2500
	// Накопитель энергии
	- var capacity = 5500
	- var energyRegen = 1099
	// Целеуказания
	- var captureRange = 108
	- var amount = 7
	// Двигательная установка
	- var speed = 94
	- var warp_mode = 3.0
	// Служба оснащения
	- var CPU = 750
	- var reactor = 9500
	- var pointsGun = 4
	- var pointsLauncher = 4
	- var connectHPower = 5
	- var connectMPower = 8
	- var connectLPower = 5

block script_variables
	script.
		const status = "ship";