extends templates/template_ship-Caldari

block variables
	// Корабль
	- var nameShip = 'Naga'
	- var typeShip = 'Линейный крейсер'
	- var price = 62100000
	// Описание
	- var description = "Проект линейного крейсера типа «Нага» был разработан калдарской корпоративной полицией (CPF) в 109 году по юлайскому летоисчислению. Новый корабль предназначался для борьбы с силами организации «Гуристас»; создатели крейсера решили пренебречь традиционной для калдарских кораблей защищенностью, променяв ее на возможность установки гибридных орудий большого калибра. Руководство корпорации «Хайасьода» от реализации проекта отказалось, посчитав его чересчур специализированным. Следующие четыре года он провел в архивах, показавшись на публике лишь однажды — в одной из серий популярного галлентского телесериала СPF Blue». В 113 году калдарское адмиралтейство объявило о проведении конкурса на создание нового поколения линейных крейсеров; первыми жертвами победившей в нем «Наги» стали корпорации «Каалакиота» и «Ишукон», предложения которых были в пух и прах разбиты расторопными менеджерами «Хайасьоды». Линейный крейсер типа «Нага» эффективен в любых ситуациях, требующих маневренности в сочетании с огневой мощью."
	// Характеристики
	// Корпус
	- var hullStrength = 1755
	- var cargo = 575
	- var droneCompartment = 0
	- var telecontrolChannel = 0
	// Броня
	- var armorStrength = 1575
	// Щит
	- var shieldStrength = 2160
	- var shieldRegen = 1400
	// Накопитель энергии
	- var capacity = 2900
	- var energyRegen = 725
	// Целеуказания
	- var captureRange = 75
	- var amount = 8
	// Двигательная установка
	- var speed = 195
	- var warp_mode = 3.5
	// Служба оснащения
	- var CPU = 425
	- var reactor = 875
	- var pointsGun = 8
	- var pointsLauncher = 0
	- var connectHPower = 8
	- var connectMPower = 6
	- var connectLPower = 3

block script_variables
	script.
		const status = "ship";