extends templates/template_ship-Minmatar

block variables
	// Корабль
	- var nameShip = 'Cyclone'
	- var typeShip = 'Линейный крейсер'
	- var price = 52100000
	// Описание
	- var description = "Крейсер типа «Сайклон» был разработан в ответ на необходимость создать корабль, достаточно мощный для усиления эскадрилий фрегатов, но при этом обладающий большей маневренностью, чем линейные корабли. Уверенно справляться с поставленной перед ними задачей «сайклонам» помогают мощный двигатель и семь разъёмов для установки модулей большой мощности."
	// Характеристики
	// Корпус
	- var hullStrength = 3750
	- var cargo = 450
	- var droneCompartment = 50
	- var telecontrolChannel = 50
	// Броня
	- var armorStrength = 3750
	// Щит
	- var shieldStrength = 5250
	- var shieldRegen = 1400
	// Накопитель энергии
	- var capacity = 2900
	- var energyRegen = 725
	// Целеуказания
	- var captureRange = 50
	- var amount = 6
	// Двигательная установка
	- var speed = 180
	- var warp_mode = 3.5
	// Служба оснащения
	- var CPU = 550
	- var reactor = 1100
	- var pointsGun = 2
	- var pointsLauncher = 5
	- var connectHPower = 7
	- var connectMPower = 5
	- var connectLPower = 5

block script_variables
	script.
		const status = "ship";