extends templates/template_ship-Caldari

block variables
	// Корабль
	- var nameShip = 'Raven'
	- var typeShip = 'Линкор'
	- var price = 310000000
	// Описание
	- var description = "«Рейвен» — основа военной мощи флота Государства Калдари. Благодаря множеству пусковых установок и прочнейшим силовым полям, мало кто может сравниться с ним в мощи и величии."
	// Характеристики
	// Корпус
	- var hullStrength = 7040
	- var cargo = 830
	- var droneCompartment = 75
	- var telecontrolChannel = 50
	// Броня
	- var armorStrength = 6380
	// Щит
	- var shieldStrength = 7700
	- var shieldRegen = 2500
	// Накопитель энергии
	- var capacity = 5500
	- var energyRegen = 1150
	// Целеуказания
	- var captureRange = 90
	- var amount = 7
	// Двигательная установка
	- var speed = 113
	- var warp_mode = 3.0
	// Служба оснащения
	- var CPU = 750
	- var reactor = 11000
	- var pointsGun = 4
	- var pointsLauncher = 6
	- var connectHPower = 7
	- var connectMPower = 7
	- var connectLPower = 5

block script_variables
	script.
		const status = "ship";