extends templates/template_ship-Minmatar

block variables
	// Корабль
	- var nameShip = 'Rupture'
	- var typeShip = 'Крейсер'
	- var price = 11400000
	// Описание
	- var description = "Крейсер типа «Рапчер» — относительно медленный, но достаточно крепкий и мощный корабль в рядах матарской космической техники. «Рапчер» обладает убойной огневой мощью и используется Республикой Минматар как для обороны космических станций и других неподвижных объектов, так и в составе больших ударных групп."
	// Характеристики
	// Корпус
	- var hullStrength = 1500
	- var cargo = 450
	- var droneCompartment = 30
	- var telecontrolChannel = 30
	// Броня
	- var armorStrength = 1800
	// Щит
	- var shieldStrength = 1500
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 1275
	- var energyRegen = 425
	// Целеуказания
	- var captureRange = 50
	- var amount = 6
	// Двигательная установка
	- var speed = 210
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 350
	- var reactor = 860
	- var pointsGun = 4
	- var pointsLauncher = 1
	- var connectHPower = 5
	- var connectMPower = 4
	- var connectLPower = 5

block script_variables
	script.
		const status = "ship";