extends templates/template_ship-Minmatar

block variables
	// Корабль
	- var nameShip = 'Thrasher'
	- var typeShip = 'Эсминец'
	- var price = 1200000
	// Описание
	- var description = "Эсминец типа «Трэшер» предназначен для сопровождения своего старшего брата, «Циклона». Благодаря мощным орудиям и усовершенствованному орудийному вычислителю он способен защищать более крупного компаньона от маленьких и юрких врагов."
	// Характеристики
	// Корпус
	- var hullStrength = 750
	- var cargo = 400
	- var droneCompartment = 0
	- var telecontrolChannel = 0
	// Броня
	- var armorStrength = 750
	// Щит
	- var shieldStrength = 800
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 550
	- var energyRegen = 290
	// Целеуказания
	- var captureRange = 27
	- var amount = 6
	// Двигательная установка
	- var speed = 270
	- var warp_mode = 4.5
	// Служба оснащения
	- var CPU = 170
	- var reactor = 70
	- var pointsGun = 7
	- var pointsLauncher = 1
	- var connectHPower = 8
	- var connectMPower = 3
	- var connectLPower = 2

block script_variables
	script.
		const status = "ship";