extends templates/template_ship-Caldari

block variables
	// Корабль
	- var nameShip = 'Ibis'
	- var typeShip = 'Корвет'
	- var price = 0
	// Описание
	- var description = "Корветы типа «Ибис», выпускаемые корпорациями Государства Калдари — это малотоннажные, но очень крепкие корабли, отлично справляющиеся с перевозкой грузов и добычей сырья; «Ибисы» надёжны, корабль этого типа — отличный выбор для начинающего пилота.";
	// Характеристики
	// Корпус
	- var hullStrength = 175
	- var cargo = 125
	- var droneCompartment = 5
	- var telecontrolChannel = 5
	// Броня
	- var armorStrength = 125
	// Щит
	- var shieldStrength = 200
	- var shieldRegen = 860
	// Накопитель энергии
	- var capacity = 130
	- var energyRegen = 65
	// Целеуказания
	- var captureRange = 27
	- var amount = 3
	// Двигательная установка
	- var speed = 295
	- var warp_mode = 3.0
	// Служба оснащения
	- var CPU = 135
	- var reactor = 23
	- var pointsGun = 2
	- var pointsLauncher = 2
	- var connectHPower = 2
	- var connectMPower = 2
	- var connectLPower = 2

block script_variables
	script.
		const status = "ship";