extends templates/template_ship-Amarr

block variables
	// Корабль
	- var nameShip = 'Augoror'
	- var typeShip = 'Крейсер'
	- var price = 9430000
	// Описание
	- var description = "В 114-м году по юлайскому летоисчислению крупнейшие государства галактики, увязшие в тяжёлой, затяжной войне без конца и края, были вынуждены обратить внимание на растущую потребность военных флотов в ремонтных кораблях и кораблях обеспечения — она диктовалась самим характером продолжительных боевых действий в межзвёздном масштабе, способных полностью измотать противоборствующие стороны. Инженеры тщательно рассмотрели особенности конструкции всех имеющихся вариантов фрегатов и крейсеров, и в Амаррской Империи одним из результатов такого подробного разбора стал существенно переработанный и вновь выпущенный в свет крейсер «Авгурор». Крейсеры типа «Авгурор» — ветераны амаррских войн. Они участвовали и в Джовианской войне, и в подавлении Матарского Восстания. Как и в большинстве кораблей производства Амаррской Империи, основная ставка в проекте «Авгурор» сделана на прочность и толстую броню, позволяющую выйти из столкновения с противником в целости и сохранности. После пересмотра проекта «Авгурор» утратил часть брони, что позволило установить на него оборудование, позволяющее проводить дистанционный ремонт брони дружественных кораблей и осуществлять передачу энергии."
	// Характеристики
	// Корпус
	- var hullStrength = 1550
	- var cargo = 465
	- var droneCompartment = 20
	- var telecontrolChannel = 20
	// Броня
	- var armorStrength = 1650
	// Щит
	- var shieldStrength = 1000
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 2250
	- var energyRegen = 450
	// Целеуказания
	- var captureRange = 60
	- var amount = 8
	// Двигательная установка
	- var speed = 235
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 275
	- var reactor = 650
	- var pointsGun = 3
	- var pointsLauncher = 0
	- var connectHPower = 5
	- var connectMPower = 3
	- var connectLPower = 5

block script_variables
	script.
		const status = "ship";