extends templates/template_ship-Minmatar

block variables
	// Корабль
	- var nameShip = 'Scythe'
	- var typeShip = 'Крейсер'
	- var price = 9570000
	// Описание
	- var description = "В 114-м году по юлайскому летоисчислению крупнейшие государства галактики, увязшие в тяжёлой, затяжной войне без конца и края, были вынуждены обратить внимание на растущую потребность военных флотов в ремонтных кораблях и кораблях обеспечения — она диктовалась самим характером продолжительных боевых действий в межзвёздном масштабе, способных полностью измотать противоборствующие стороны. Конструкторы вновь обратились к проектам фрегатов и крейсеров, хорошо знакомым пилотам-капсулёрам; в случае с флотом Республики Минматар результатом переосмысления боевой доктрины стали, помимо всего прочего, модернизация и переразвёртывание крейсеров типа «Сайф». Крейсеры типа «Сайф» — древнейшие из минматарских кораблей, всё ещё стоящих на вооружении. Они прошли через множество битв и являются неотъемлемой частью минматарских преданий, истинным наследием минматарского народа. Во время переработки конструкции пришлось пожертвовать всеми обновлениями прошивки, направленными на увеличение выработки экстракторов, но взамен корабль получил две новые независимые друг от друга системы — для дистанционной накачки щитов и для управления беспилотными дронами."
	// Характеристики
	// Корпус
	- var hullStrength = 1300
	- var cargo = 475
	- var droneCompartment = 45
	- var telecontrolChannel = 45
	// Броня
	- var armorStrength = 1100
	// Щит
	- var shieldStrength = 1400
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 1750
	- var energyRegen = 350
	// Целеуказания
	- var captureRange = 52.5
	- var amount = 8
	// Двигательная установка
	- var speed = 250
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 285
	- var reactor = 345
	- var pointsGun = 2
	- var pointsLauncher = 1
	- var connectHPower = 3
	- var connectMPower = 5
	- var connectLPower = 5

block script_variables
	script.
		const status = "ship";