extends templates/template_ship-Caldari

block variables
	// Корабль
	- var nameShip = 'Cormorant'
	- var typeShip = 'Эсминец'
	- var price = 985000
	// Описание
	- var description = "«Корморант» — единственный производимый Государством Калдари корабль, разработанный сторонней компанией. Конечно же, ходят самые разнообразные слухи, но личность дизайнера хранится в строжайшем секрете во внутренних кругах государства."
	// Характеристики
	// Корпус
	- var hullStrength = 700
	- var cargo = 425
	- var droneCompartment = 0
	- var telecontrolChannel = 0
	// Броня
	- var armorStrength = 700
	// Щит
	- var shieldStrength = 900
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 600
	- var energyRegen = 319
	// Целеуказания
	- var captureRange = 36
	- var amount = 7
	// Двигательная установка
	- var speed = 250
	- var warp_mode = 4.5
	// Служба оснащения
	- var CPU = 200
	- var reactor = 68
	- var pointsGun = 7
	- var pointsLauncher = 1
	- var connectHPower = 8
	- var connectMPower = 3
	- var connectLPower = 2

block script_variables
	script.
		const status = "ship";