extends templates/template_ship-Amarr

block variables
	// Корабль
	- var nameShip = 'Arbitrator'
	- var typeShip = 'Крейсер'
	- var price = 9440000
	// Описание
	- var description = "Концепт «Арбитратора» не вполне типичен для кораблестроительной доктрины амаррцев: это корабль-носитель дронов. Вероятно, не самый мощный в своём роде — но прочная броня ставит его на одно из первых мест по живучести среди носителей дронов."
	// Характеристики
	// Корпус
	- var hullStrength = 1600
	- var cargo = 345
	- var droneCompartment = 150
	- var telecontrolChannel = 50
	// Броня
	- var armorStrength = 1500
	// Щит
	- var shieldStrength = 1100
	- var shieldRegen = 1250
	// Накопитель энергии
	- var capacity = 1375
	- var energyRegen = 490
	// Целеуказания
	- var captureRange = 70
	- var amount = 7
	// Двигательная установка
	- var speed = 200
	- var warp_mode = 4.0
	// Служба оснащения
	- var CPU = 370
	- var reactor = 695
	- var pointsGun = 2
	- var pointsLauncher = 3
	- var connectHPower = 4
	- var connectMPower = 4
	- var connectLPower = 5

block script_variables
	script.
		const status = "ship";