extends templates/template_ship-Caldari

block variables
	// Корабль
	- var nameShip = 'Merlin'
	- var typeShip = 'Фрегат'
	- var price = 208000
	// Описание
	- var description = "«Мерлин» — самый мощный фрегат общего назначения на вооружении Государства Калдари. Его роль с годами претерпела изменения. Компоновка оружейных систем больше не наводит на мысли об универсальном подходе — теперь «мерлины» ведут смертоносный орудийный огонь. Впрочем, защитные системы «мерлинов» остаются крайне эффективными по сравнению с прочими калдарскими кораблями. Основная роль кораблей типа «Мерлин» — пробивать бреши в броне вражеских кораблей."
	// Характеристики
	// Корпус
	- var hullStrength = 400
	- var cargo = 150
	- var droneCompartment = 0
	- var telecontrolChannel = 0
	// Броня
	- var armorStrength = 350
	// Щит
	- var shieldStrength = 500
	- var shieldRegen = 625
	// Накопитель энергии
	- var capacity = 350
	- var energyRegen = 175
	// Целеуказания
	- var captureRange = 50
	- var amount = 5
	// Двигательная установка
	- var speed = 310
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 180
	- var reactor = 40
	- var pointsGun = 3
	- var pointsLauncher = 0
	- var connectHPower = 3
	- var connectMPower = 4
	- var connectLPower = 3

block script_variables
	script.
		const status = "ship";