extends templates/template_ship-Minmatar

block variables
	// Корабль
	- var nameShip = 'Tornado'
	- var typeShip = 'Линейный крейсер'
	- var price = 71500000
	// Описание
	- var description = "В 113 году по юлайскому летоисчислению Служба Безопасности Республики получила сведения о том, что Амаррская Империя создаёт новый линейный крейсер, способный вести огонь из крупнокалиберных орудий. Считая отставание от главного врага недопустимым, Флот Республики выдал консорциуму «Свобода творчества» задание на постройку соответствующего корабля. Результатом стараний инженеров стал линейный крейсер типа «Торнадо». Проект «Торнадо» был разработан в кратчайшие сроки при соблюдении строжайшей секретности; он являет собой настоящий памятник инженерному гению матарцев, сумевших приспособить конструкцию древних атмосферных бомбардировщиков к реалиям боев в космосе. Козырная карта «Торнадо» — это сочетание маленького радиуса сигнатуры с большим количеством точек для установки крупнокалиберных орудийных установок."
	// Характеристики
	// Корпус
	- var hullStrength = 1800
	- var cargo = 535
	- var droneCompartment = 0
	- var telecontrolChannel = 0
	// Броня
	- var armorStrength = 1800
	// Щит
	- var shieldStrength = 1890
	- var shieldRegen = 1400
	// Накопитель энергии
	- var capacity = 2700
	- var energyRegen = 675
	// Целеуказания
	- var captureRange = 60
	- var amount = 6
	// Двигательная установка
	- var speed = 225
	- var warp_mode = 3.5
	// Служба оснащения
	- var CPU = 342
	- var reactor = 1000
	- var pointsGun = 8
	- var pointsLauncher = 0
	- var connectHPower = 8
	- var connectMPower = 5
	- var connectLPower = 4

block script_variables
	script.
		const status = "ship";