extends templates/template_ship-Amarr

block variables
	// Корабль
	- var nameShip = 'Oracle'
	- var typeShip = 'Линейный крейсер'
	- var price = 65500000
	// Описание
	- var description = "В 113 году по юлайскому летоисчислению императрица Джамиль Сарум Первая потребовала от инженеров Амаррской Империи создать новый линейный крейсер, который смог бы сдвинуть Войну Эмпирей с мёртвой точки.. Отойдя от доктрины грубой силы и тяжёлого бронирования, инженеры корпорации «Визиам» черпали вдохновение из истории Государства Калдари. Во время галентско-калдарской войны инженеры Государства разработали лёгкие и маневренные корабли, способные противостоять неповоротливым увальням Галлентской Федерации. Этот подход, подкреплённый использованием новейших силовых установок и брони из сверхлегких сплавов, открыл путь к созданию «Оракула». Амаррская Империя немедленно отправила проект в производство. Императрица выразила личную благодарность главному исследователю «Визиам» Паруду Вакирокки, назвав корабль «Божьей благодатью для Империи и карой небесной для ее врагов»."
	// Характеристики
	// Корпус
	- var hullStrength = 1980
	- var cargo = 500
	- var droneCompartment = 0
	- var telecontrolChannel = 0
	// Броня
	- var armorStrength = 2160
	// Щит
	- var shieldStrength = 1575
	- var shieldRegen = 1400
	// Накопитель энергии
	- var capacity = 3500
	- var energyRegen = 875
	// Целеуказания
	- var captureRange = 65
	- var amount = 6
	// Двигательная установка
	- var speed = 200
	- var warp_mode = 3.5
	// Служба оснащения
	- var CPU = 345
	- var reactor = 1375
	- var pointsGun = 8
	- var pointsLauncher = 0
	- var connectHPower = 8
	- var connectMPower = 3
	- var connectLPower = 6

block script_variables
	script.
		const status = "ship";