extends templates/template_ship-Gallente

block variables
	// Корабль
	- var nameShip = 'Navitas'
	- var typeShip = 'Фрегат'
	- var price = 133000
	// Описание
	- var description = "В 114-м году по юлайскому летоисчислению крупнейшие государства галактики, увязшие в тяжёлой, затяжной войне без конца и края, были вынуждены обратить внимание на растущую потребность военных флотов в ремонтных кораблях и кораблях обеспечения — она диктовалась самим характером продолжительных боевых действий в межзвёздном масштабе, способных полностью измотать противоборствующие стороны. В Галлентской Федерации такой корабль был создан на основе фрегата типа «Навитас» после существенной переработки конструкции. «Навитас» отлично зарекомендовал себя в качестве бурового корабля, широко используемого независимыми пилотами; он также был едва ли не лучшим вариантом для начинающих торговцев и даже демонтажников. Во время перестройки конструкции «навитасов» их прочная броня и сканеры дальнего действия уступили место установкам дистанционного ремонта; «навитасы» распрощались с успокаивающим жужжанием буровых лазеров и погрузились в море битвы."
	// Характеристики
	// Корпус
	- var hullStrength = 335
	- var cargo = 280
	- var droneCompartment = 5
	- var telecontrolChannel = 5
	// Броня
	- var armorStrength = 400
	// Щит
	- var shieldStrength = 250
	- var shieldRegen = 62
	// Накопитель энергии
	- var capacity = 595
	- var energyRegen = 297.5
	// Целеуказания
	- var captureRange = 38
	- var amount = 7
	// Двигательная установка
	- var speed = 410
	- var warp_mode = 5.0
	// Служба оснащения
	- var CPU = 145
	- var reactor = 49
	- var pointsGun = 2
	- var pointsLauncher = 0
	- var connectHPower = 3
	- var connectMPower = 3
	- var connectLPower = 3

block script_variables
	script.
		const status = "ship";